.book-top-section {
  display: grid;
  grid-template-columns: 220px auto 286px;
}

.book-top-section .avatar {
  display: flex;
  align-items: flex-start;
}

.book-profile {
  padding: 0 1rem;
}

.author-name.book-author {
  text-align: left;
  color: var(--neutral-color);
  padding-bottom: 0.5rem;
}

.author-name.book-author span {
  font-size: 1.05rem;
  color: var(--dark-color);
  font-style: italic;
  opacity: 0.8;
  font-weight: bold;
}

.author-name.book-author span:hover {
  color: var(--danger-color);
}

.book-detail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  /* background: var(--danger-color); */
  max-width: 100%;
  /* opacity: 0.9; */
  font-size: 0.9rem;
}

.book-detail table {
  background: var(--dark-color);
  padding: 1rem 2rem;
  opacity: 0.9;
}

.book-detail table td {
  padding: 4px;
}

.book-detail table td:first-child {
  width: 10rem;
}

.book-status-labels {
  /* position: relative; */
  top: 12px;
  z-index: 10;
}

.book-status-label {
  float: left;
  height: 28px;
  width: 28px;
  font-style: normal;
  margin-bottom: 5px;
  padding: 2px 8px 0 6px;
  border-radius: 0 15px 15px 0;
  color: white;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.68, 0.55, 0.265, 1.25);
}

.bsl--new {
  background: #ff9800;
}

.bsl--popular {
  background: var(--danger-color);
}

.bsl--popular span:first-child,
.bsl--new span:first-child {
  opacity: 1;
}

.bsl--popular span,
.bsl--new span {
  opacity: 0;
}

.bsl--new:hover {
  width: 76px;
}

.bsl--popular:hover {
  width: 88px;
}

.bsl--popular:hover,
.bsl--new:hover {
  transition: width 0.5s ease-in-out;
}

.bsl--popular:hover span,
.bsl--new:hover span {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.display-text-group {
  padding-bottom: 8px;
}

.ubc-header.trailer {
  text-align: center;
}
